/* #region Homepage */


.homepage{
    height: calc(100vh - 152px)
}

@media (min-width: 768px){
    .homepage{
        margin-top: 101px;
    }
}



.background-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.background-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 640px;
}

.welcome-message {
    width: 100%;
    max-width: 75.125rem;
    margin-left: auto;
    margin-right: auto;
}

/* #endregion */

/* #region Top Header */

.header-top {
    background-color: #fff;
}

#logo {
    height: 100%;
}

.article {
    margin-top: 170px;
}

/* #endregion*/

/* #region Navbar */

.navbar-collapse {
    padding-left: 0px;
    margin-left: 0px !important;
}

.navbar-inverse {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-inverse .navbar-nav > li > a {
    color: #777;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle > button:focus {
    background-color: #e7e7e7 !important;
    border-color: #ddd;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #e7e7e7;
}

.btn.toc-toggle.focus,
.btn.toc-toggle:focus,
.btn.toc-toggle:hover {
    color: #337ab7;
}

/* #endregion */

/* #region Feedback */

#feedback-survey {
    position: relative;
    margin-top: 45px;
}

.feedback-question {
    font-size: 1em;
    font-weight: 600;
    line-height: 2em;
}

.belowoptions {
    margin-top: 20px;
}

.feedback-answer
{
	font-weight: bold;
	font-size: 18.0pt;
}

.feedback-btn button {
    cursor: pointer;
}

element.style {
    float: left;
}
.feedback-btn button {
    cursor: pointer;
}

.yes {
    --color: #28a745;
    --hover: #28a747;
}

.no {
    --color: #990e13;
    --hover: #990e11;
}

.yes:hover,
.yes:focus
{
	box-shadow: inset 0 0 0 2em var(--hover);
}

.no:hover,
.no:focus
{
	box-shadow: inset 0 0 0 2em var(--hover);
}

.feedback-reason {
    display: none;
	--hover: none;
	line-height: 2em;
}

.feedback-reason.no {
    display: none;
}
.feedback-reason.yes-thanks{
    display: none;
}

.feedback-btn > button {
    width: 70px;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.4em 0.2em;
}

.feedback-btn > button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.feedback-btn > button:hover, button:focus
{
	border-color: var(--hover);
	color: #fff;
}

.feedback-answer {
    font-weight: bold;
    font-size: 18.0pt;
}

.createIssue {
    display: none;
}

/*#endregion*/

/* #region toc */



/* #endregion */

/* #region affix */

.sideaffix {
    bottom: 10px !important;
    margin-top: 90px;
}

/* #endregion */

/* #region layout */
/*
.article.grid {
    margin-left: 10px;
}

.affix ul ul {
    margin-left: 10px;
}

.affix ul>li>a {
    margin-right: 20px;
}

#sidetoc .sidetoc .toc {
    padding-right: 0;
}

.toc .level3 {
    margin: 5px 0 0 15px;
}

.toc .level4 {
    margin: 3px 0 0 15px;
}

.toc .level2>li {
    margin-bottom: 5px;
}

.toc .level3>li {
    margin-bottom: 3px;
}

.toc .level4>li {
    margin-bottom: 2px;
}

.sidetoc.shiftup {
    bottom: 50px;
}

@media (max-width: 768px) {
    #sidetoc .sidetoc {
        text-align: left;
    }
}
*/
/*#endregion*/

/* #region DocFX fixes */
/*
@media (min-width: 768px) and (max-width: 768px) {
    #sidetoggle.collapse {
        display: none;
    }
    #sidetoggle.collapse.in {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .toc .level2>li {
        display: block;
    }
    .toc .level2>li:after {
        display: none;
    }
}

.btn.toc-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-results mark,
#search-results .mark {
    padding: 0;
}

.content th:empty {
    display: none;
}

.content .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: initial;
}

.content a[name]:empty {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.content ul {
    padding-left: 20px;
}

.content .table {
    margin-bottom: 20px;
}

.alert a {
    text-decoration: underline;
}

.alert h5 .anchorjs-link {
    margin-left: -31px !important;
}

.sideaffix.shiftup {
    bottom: 50px !important;
}

.affix>ul.level1 {
    height: calc(100% - 35px);
}

.toc .nav>li.active>.expand-stub::before,
.toc .nav>li.in>.expand-stub::before,
.toc .nav>li.in.active>.expand-stub::before,
.toc .nav>li.filtered>.expand-stub::before {
    content: '\2212';
}

.codeSnippets pre:not(:first-of-type) {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.codeSnippets pre:not(:last-of-type) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
*/
/* #endregion */