:root, body.light-theme {
  --color-foreground: rgb(29, 31, 72);
  --color-navbar: rgb(29, 31, 72);
  --color-breadcrumb: #4a4a4a;
  --color-border: #1d1f48;
  --color-toc-hover: #4c4c4c;
  --color-background: #ffffff;
  --color-background-subnav: #f0f0f0;
  --color-background-dark: #fefefe;
  --color-background-table-alt: #f9f9f9;
  --color-background-quote: #69696e;
  --color-underline: #ddd;
  --color-background-code: #f5f5f5;
}

body.dark-theme {
  --color-foreground: #ccd5dc;
  --color-navbar: #999;
  --color-breadcrumb: #999;
  --color-border: #3d4188;
  --color-toc-hover: #fff;
  --color-background: #2d2d30;
  --color-background-subnav: #333337;
  --color-background-dark: #202124;
  --color-background-table-alt: #212123;
  --color-background-code: #202124;
}

@font-face{font-family:"Infra";src:url(./fonts/Infra-Light.woff2) format("woff2"),url(./fonts/Infra-Light.woff) format("woff");font-weight:300;font-style:normal}@font-face{font-family:"Infra";src:url(./fonts/Infra-Regular.woff2) format("woff2"),url(./fonts/Infra-Regular.woff) format("woff");font-weight:400;font-style:normal}@font-face{font-family:"Infra";src:url(./fonts/Infra-RegularItalic.woff2) format("woff2"),url(./fonts/Infra-RegularItalic.woff) format("woff");font-weight:400;font-style:italic}@font-face{font-family:"Infra";src:url(./fonts/Infra-Medium.woff2) format("woff2"),url(./fonts/Infra-Medium.woff) format("woff");font-weight:500;font-style:normal}@font-face{font-family:"Infra";src:url(./fonts/Infra-MediumItalic.woff2) format("woff2"),url(./fonts/Infra-MediumItalic.woff) format("woff");font-weight:500;font-style:italic}@font-face{font-family:"Infra";src:url(./fonts/Infra-Bold.woff2) format("woff2"),url(./fonts/Infra-Bold.woff) format("woff");font-weight:700;font-style:normal}

strong {
  font-family: "Infra";
  font-weight: 500;
}

@font-face {
  font-family: "Icomoon";
  src: url("icomoon.woff2")format("woff2");
  }
  

header{
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
}

.navbarcontainer{
  min-height: 49.99px;
}



.logo-container{
  position: relative;
  top: 20px;
}

/* #region Homepage */
.homepage{
  min-height: 100%;
}

.background-image{
  height: 100%;
  object-fit: cover;
  width: 100%;
  /* display: inline-block; */
  vertical-align: middle;
  max-width: 100%;
  max-height: 640px;
}

.open-in-playground-btn{
  text-decoration: none;
  margin-top: 0px !important;
  margin-bottom: 20px;
}


.welcome-message {
  width: 100%;
  max-width: 75.125rem;
  margin-left: auto;
  margin-right: auto;
}


  /* #region Nav grid */
  .grid-margin-x {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .grid-x {
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }


  .grid-container, .grid-container.fluid {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .keyvisual-cta {
    margin: -2rem 0 0;
    line-height: 2.5rem;
  }

  .keyvisual-cta a img {
      height: 4rem;
      margin: 0 0 1rem;
      width: 4rem;
      object-fit: cover;
  }

  .cell {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      min-height: 0;
      min-width: 0;
      width: 100%;
  }
  .keyvisual-countdown-timer .value, blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
      margin: 0;
      padding: 0;
  }

  .grid-container {
    max-width: 110.125rem;
  }

  .keyvisual-cta a {
      color: var(--color-foreground);
      -ms-flex-align: center;
      align-items: center;
      background-color: var(--color-background);
      border-radius: .5rem;
      box-shadow: 0 0.3125rem 1rem rgb(29 31 72 / 5%);
      transition: all .4s;
      transition-property: box-shadow;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 1.25rem 3.5rem 1.25rem 1.25rem;
      position: relative;
  }

  body.dark-theme .keyvisual-cta a{
    box-shadow: 0 0.3125rem 1rem rgb(29 31 72 / 15%);
  }

  .keyvisual-cta a:hover{
    box-shadow: 0 0.8125rem 1.5rem rgb(29 31 72 / 10%);
  }

  body.dark-theme   .keyvisual-cta a:hover{
    box-shadow: 0 0.8125rem 1.5rem rgb(29 31 72 / 30%);
  }


  .keyvisual-cta a img {
      height: 6rem;
      margin: 0 0 1rem;
      width: 6rem;
      object-fit: cover;
  }

  .keyvisual-cta a p:last-child {
    margin-bottom: 0;
  }


  @media print, screen and (min-width: 48em){
    .keyvisual-cta a {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
  }
  @media print, screen and (min-width: 48em){
    .keyvisual-cta a img {
        margin: 0 1.5rem 0 0;
    }
  }
  @media print, screen and (min-width: 48em){
    .grid-x>.medium-1, .grid-x>.medium-2, .grid-x>.medium-3, .grid-x>.medium-4, .grid-x>.medium-5, .grid-x>.medium-6, .grid-x>.medium-7, .grid-x>.medium-8, .grid-x>.medium-9, .grid-x>.medium-10, .grid-x>.medium-11, .grid-x>.medium-12, .grid-x>.medium-shrink {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
  @media print, screen and (min-width: 48em){
    .grid-x>.medium-1, .grid-x>.medium-2, .grid-x>.medium-3, .grid-x>.medium-4, .grid-x>.medium-5, .grid-x>.medium-6, .grid-x>.medium-7, .grid-x>.medium-8, .grid-x>.medium-9, .grid-x>.medium-10, .grid-x>.medium-11, .grid-x>.medium-12, .grid-x>.medium-full, .grid-x>.medium-shrink {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }}

  @media print, screen and (min-width: 48em){ 
    .grid-x>.medium-8 {
      width: 66.6666666667%;
  }}
  @media print, screen and (min-width: 64em){
    .grid-margin-x>.large-6 {
        width: calc(50% - 3rem);
    }
  }
  }
  @media print, screen and (min-width: 64em){
  .grid-x>.large-1, .grid-x>.large-2, .grid-x>.large-3, .grid-x>.large-4, .grid-x>.large-5, .grid-x>.large-6, .grid-x>.large-7, .grid-x>.large-8, .grid-x>.large-9, .grid-x>.large-10, .grid-x>.large-11, .grid-x>.large-12, .grid-x>.large-full, .grid-x>.large-shrink {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }}

  /* #endregion */


/* #endregion */



.article {
  margin-top: 170px;
}

/* #endregion*/

/* #region Navbar */

/* .navbar-collapse {
  padding-left: 0px;
  margin-left: 0px !important;
} */

.navbar-inverse {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-inverse .navbar-nav > li > a {
  color: #777;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle > button:focus {
  background-color: #e7e7e7 !important;
  border-color: #ddd;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #e7e7e7;
}


.btn.toc-toggle.focus,
.btn.toc-toggle:focus,
.btn.toc-toggle:hover {
  color: #337ab7;
}



.navbar {
  border: none;
}


  @media (min-width: 768px){
    .navbar-brand {
      position: relative;
      left: 20px;
    }

  }

.subnav {
  border-top: 1px solid var(--color-underline);
  background-color: var(--color-background-subnav);
}

.sidenav, .fixed_header, .toc {
  background-color: var(--color-background);
}

.navbar-inverse {
  background-color: var(--color-background-dark);
  z-index: 100;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  font-weight: 500;
  color: var(--color-navbar);
  background-color: var(--color-background-dark);
  border-bottom: 3px solid transparent;
  padding-bottom: 12px;
}


.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: var(--color-foreground);
  background-color: var(--color-background-dark);
  border-bottom: 3px solid var(--color-background-subnav);
  transition: all ease 0.25s, background-color 0ms;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: var(--color-foreground);
  background-color: var(--color-background-dark);
  border-bottom: 3px solid var(--color-foreground);
  transition: all ease 0.25s, background-color 0ms, color 0ms;
}

.navbar-form .form-control {
  border: 1px solid var(--color-border); 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media (min-width: 768px){
  .navbar-form {
      width: 250px;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
}

.search-bar-container{
  position: relative;
}

.toc .level1>li {
  font-weight: 400;
}

.toc .nav>li>a {
  color: var(--color-foreground);
}

#sidetoc .nav>li {
  border-left: solid 2px lightgrey;
}
#sidetoc .nav>li:hover {
  border-left: solid 3px blue;
}

#sidetoc .nav.level1>li{
  border:none;
}

/* #endregion */


/* #region Git Talk */
/* Git textareas had grey text color */
.gt-header-textarea{
  color: black;
}
/* #endregion */

/* #region Feedback */

#feedback-survey {
  position: relative;
  margin-top: 45px;
}

.feedback-question {
  font-size: 1em;
  font-weight: 600;
  line-height: 2em;
}

.belowoptions {
  margin-top: 20px;
}

.feedback-answer
{
font-weight: bold;
font-size: 18.0pt;
}

.feedback-btn button {
  cursor: pointer;
}

element.style {
  float: left;
}
.feedback-btn button {
  cursor: pointer;
}

.yes {
  --color: #28a745;
  --hover: #28a747;
}

.no {
  --color: #990e13;
  --hover: #990e11;
}

.yes:hover,
.yes:focus
{
box-shadow: inset 0 0 0 2em var(--hover);
}

.no:hover,
.no:focus
{
box-shadow: inset 0 0 0 2em var(--hover);
}

.feedback-reason {
  display: none;
--hover: none;
line-height: 2em;
}

.feedback-reason.no {
  display: none;
}
.feedback-reason.yes-thanks{
  display: none;
}

.feedback-btn > button {
  width: 70px;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.4em 0.2em;
}

.feedback-btn > button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.feedback-btn > button:hover, button:focus
{
border-color: var(--hover);
color: #fff;
}

.feedback-answer {
  font-weight: bold;
  font-size: 18.0pt;
}

.createIssue {
  display: none;
}

/*#endregion*/

/* #region toc */



/* #endregion */

/* #region affix */

.sideaffix {
  bottom: 10px !important;
  margin-top: 90px;
}



body {
  color: var(--color-foreground);
  line-height: 1.5;
  font-weight: 400;
  font-family: "Infra";
  font-size: 1.6rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  background-color: var(--color-background);
}

.btn.focus, .btn:focus, .btn:hover {
  color: var(--color-foreground);
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.8;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}

h5 {
  font-size: 14px;
  padding: 10px 0px;
}

article h1, article h2, article h3, article h4 {
  margin-top: 35px;
  margin-bottom: 15px;
}

article h4 {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--color-underline);
}


.sidefilter {
  background-color: var(--color-background);
  border-left: none;
  border-right: none;
}

.toc-filter {
  padding: 10px;
  margin: 0;
  background-color: var(--color-background);
}

.toc-filter>input {
  background-color: var(--color-background);
  border: 1px solid var(--color-border); 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 5px 0 5px 13px;
  font-size: 90%
}

.toc-filter>.clear-icon {
  position: absolute;
  top: 17px;
  right: 15px;
}

.toc-filter>input:focus {
  color: var(--color-foreground);
  transition: all ease 0.25s;
}

.toc-filter>.filter-icon {
  display: none;
}

.sidetoc>.toc {
  background-color: var(--color-background);
  overflow-x: hidden;
}

.sidetoc {
  background-color: var(--color-background);
  border: none;
}

.alert {
  background-color: inherit;
  border: none;
  padding: 10px 0;
  border-radius: 0;
}

.alert>p {
  margin-bottom: 0;
  padding: 5px 10px;
  border-bottom: 1px solid;
  background-color: var(--color-background-dark);
}

.alert>h5 {
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 2px solid;
  background-color: var(--color-background-dark);
  border-radius: none;
}

.alert>ul {
  margin-bottom: 0;
  padding: 5px 40px;
}

.alert-info {
  color: #1976d2;
}

.alert-warning {
  color: #f57f17;
}

.alert-danger {
  color: #d32f2f;
}

pre {
  padding: 9.5px;
  margin: 4px 0 10px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--color-background-code);
  border-radius: 5px;
  border: none;
}

code {
  background: var(--color-background-code) !important;
  border-radius: 2px;
}

.hljs {
  color: var(--color-foreground);
}

.toc .nav>li.active>.expand-stub::before, .toc .nav>li.in>.expand-stub::before, .toc .nav>li.in.active>.expand-stub::before, .toc .nav>li.filtered>.expand-stub::before {
  content: "▾";
}

.toc .nav>li>.expand-stub::before, .toc .nav>li.active>.expand-stub::before {
  content: "▸";
}

.affix ul ul>li>a:before {
  content: "|";
}

.breadcrumb {
  margin-left: 30px;
  background-color: var(--color-background-subnav);
}

.breadcrumb .label.label-primary {
  background: #444;
  border-radius: 0;
  font-weight: normal;
  font-size: 100%;
}

#breadcrumb .breadcrumb>li a {
  border-radius: 0;
  font-weight: normal;
  font-size: 85%;
  display: inline;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: var(--color-breadcrumb);
}

#breadcrumb .breadcrumb>li span {
  padding: 0 .6em 0;
}

#breadcrumb .breadcrumb>li a:hover {
  color: var(--color-foreground);
  transition: all ease 0.25s;
}

.breadcrumb>li+li:before {
  display: inline-block;
  font-family: "Icomoon";
  transform: rotate(-90deg) translate(-2px, 1px);
  font-weight: 400;
  line-height: 1;
  margin-right: 0;
  transition: all .3s ease-in-out;
  transition-property: transform;
  content: "";
  /* font-size: 125%; */
  font-weight: 100;
  color: var(--color-background-dark);
}

.light-theme .breadcrumb>li+li:before {
  color: var(--color-foreground)
 }

.toc .level1>li {
  font-weight: 600;
  font-size: 130%;
  padding-left: 5px;
}

.footer {
  border-top: none;
  background-color: var(--color-background-dark);
  padding: 15px 0;
  font-size: 90%;
}

.toc .nav>li>a:hover, .toc .nav>li>a:focus {
  color: var(--color-toc-hover);
  transition: all ease 0.1s;
}

.form-control {
  background-color: var(--color-background-dark);
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


#search{
  border: none;
}

input#search-query:focus {
  color: var(--color-foreground);
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid var(--color-background-dark);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: var(--color-background-table-alt);
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 10px;
  font-size: 110%;
  border-left: 5px solid var(--color-background-quote);
  color: var(--color-background-quote);
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  background-color: var(--color-background-subnav);
  border-color: var(--color-background-subnav);
}

.breadcrumb>li, .pagination {
  display: inline;
}

.tabGroup a[role="tab"] {
  border-bottom: 2px solid var(--color-background-dark);
}

.tabGroup a[role="tab"][aria-selected="true"] {
  color: var(--color-foreground);
}

.tabGroup section[role="tabpanel"] {
  border: 1px solid var(--color-background-dark);
}

.sideaffix > div.contribution > ul > li > a.contribution-link:hover {
  background-color: var(--color-background);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.toggle-mode .icon {
  display: inline-block;
}

.toggle-mode .icon i {
  font-style: normal;
  font-size: 17px;
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
  vertical-align: middle;
}







